body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 18px;
}

.top-banner {
    background-image: url(images/top-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    padding: 10%;
    margin-bottom: 100px;
}

.top-banner h1 {
    color: antiquewhite;
    text-align: center;
    margin-top: 40px;
    text-shadow: 4px 4px 15px #000000;
}

.black-heading {
    color: rgb(255, 102, 0);
    text-shadow: none;
}

.top-banner p {
    color: #ffffff;
    text-align: center;
    text-shadow: 4px 4px 15px #000000;
}

.donation-campain {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, rgb(253, 0, 0), rgb(255, 96, 4));
    padding: 20px 40px;
    margin-left: 530px;
    border-radius: 30px;
}

.Donation_Payment-area {
    text-align: center;
}

.select-payment li {
    display: inline;
    font-size: 60px;
    text-align: center;
    margin-left: 35px;
}

#select-amount {
    border: 3px solid red;
    padding: 15px;
    background-color: rgb(245, 216, 179);
    border-radius: 7px;
}

.donating_project-area {
    text-align: center;
}

.flexible-container {
    display: flex;
    margin: 8%;
}

.donate-item {
    background-color: bisque;
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
}