body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;

}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 18px;
}

.top-banner {
    background-image: url(images/top-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 10%;
    margin-bottom: 100px;
}

.top-banner h1 {
    color: antiquewhite;
    text-align: center;
    margin-top: 40px;
    text-shadow: 4px 4px 15px #000000;
}

.black-heading {
    color: rgb(255, 102, 0);
    text-shadow: none;
}

.top-banner p {
    color: #ffffff;
    text-align: center;
    text-shadow: 4px 4px 15px #000000;
}

.donation-campain {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, rgb(253, 0, 0), rgb(255, 96, 4));
    padding: 20px 40px;
    margin-left: 45%;
    border-radius: 30px;
}

.Donation_Payment-area {
    text-align: center;

}

.select-payment li {
    display: inline;
    font-size: 60px;
    text-align: center;
    margin-left: 35px;
}

#select-amount {
    border: 3px solid red;
    padding: 15px;
    background-color: rgb(245, 216, 179);
    border-radius: 7px;
}

.total-amount {
    margin-top: 3%;
    
}

.total-amount input {
    border: 0px 5px 0px 0px solid red;
    font-size: 20px;
    border: none;
    text-align: center;
    padding: 5px 20px;

}
.total-amount input:focus{
    outline: none;
}


.donating_project-area {
    text-align: center;
    margin-top: 150px;
}


#donate-plan_discribtion {
    margin-left: 10%;
    margin-right: 10%;

}

.flexible-container {
    display: flex;
}

.donate-item-area {
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 150px;
}

.donate-item {
    text-align: justify;
    background-color: rgb(245, 155, 236);
    border-radius: 2%;
    width: 22%;
    height: 330px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 3%;
    box-shadow: 5px 5px 20px rgb(197, 194, 194);
}

#foodfamily-background-color {
    background-color: #87fd60;
}

#education-background-color {
    background-color: rgb(108, 248, 248);
}

.contribution-area {
    display: flex;
    margin-bottom: 150px;
}

.contribution {
    text-align: justify;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.contribution-img1 {
    width: 100%;
    margin-right: 150px;
    margin-top: 75px;
}

.contribution-img1 img {
    width: 100%;


}

.contribution-img2 {
    width: 100%;
    margin-left: 150px;
    margin-top: 75px;
}

.contribution-img2 img {
    width: 100%;
}

.contribution2 {
    text-align: justify;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}


.contribution-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, rgb(253, 0, 0), rgb(255, 96, 4));
    padding: 15px 30px;
    border-radius: 5px;
}

.Get-in-touch {
    background-color: rgb(232, 232, 232);
    height: 400px;
    padding-top: 100px;
}

.update_subscription {
    text-align: center;
}

.mail_subscription {
    text-align: center;

}

.mail_subscription input {
    font-size: 18px;
    width: 15%;
    padding: 16px 20px;
    margin: 8px 0;
    display: inline-block;
}

.mail_subscription button {
    color: #ffffff;
    background-image: linear-gradient(to bottom right, rgb(253, 0, 0), rgb(255, 96, 4));
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}

.backgroung_img-story {
    background-image: url(images/story-banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    color: #ffffff;
    text-shadow: 4px 4px 15px #000000;
    text-align: center;
    padding-top: 20%;
}

.join-charities p {
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.join-charities {
    margin-bottom: 100px;
}

.testimonial {
    display: inline-flex;
    margin-bottom: 100px;
}

.testimonial img {
    width: 30%;
    margin-left: 12%;
}

.footer-background {
    background-color: #000000;
    height: 150px;
    color: #FF6600;
    text-align: center;
    font-size: 22px;
    font-style: italic;
    padding-top: 50px;
}

.footer-background p {
    color: #ffffff;
    font-size: 15px;
}

/* Media quairy for responsive*/

@media only screen and (max-width : 576px) {
    h1{
        font-size: 36px;
    }  
    h2{
        font-size: 25px;
    }  
    p{
        font-size: 15px;
    }  
    .top-banner{
        height: 280px;
        margin-bottom: 40px;
    }  
    .donation-campain{
        font-size: 14px;
        padding: 10px 20px;
        margin-left: 37%;
    }  
    .Donation_Payment-area p{
        padding-inline: 35px;
    }
    .select-payment li{
        font-size: 25px;
        margin-left: 12px;
    }  
    .total-amount{
        margin-top: 1%;
    }
    .total-amount input{
        font-size: 14px;
        padding: 0px 10px;
    }
    .donating_project-area{
        margin-top: 60px;
    }
    .flexible-container{
        display: block
    }
    .donate-item-area{
        margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom:20px ;
    }
    .donate-item{
        width: auto;
        height: 250px;
        margin-top: 50px;
        padding: 30px;
      
        
    }

    #foodfamily-background-color {
        margin-bottom: 30px;
    }
    
    #education-background-color {
        margin-top: 30px;
    }
    .contribution-area{    
        flex-direction: column-reverse;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .contribution{
       margin-left: 30px;
       margin-right: 30px;
       width: auto;
    }
    .contribution2{
        margin-left: 30px;
        margin-right: 30px;
        width: auto;
      
    }
    .contribution-img1{
        margin-left: 30px;
        margin-right: 30px;
        width: auto;
        
    }
    .contribution-img2{
        margin-left: 30px;
        margin-right: 30px;
        width: auto;
       
        
    }
   .Get-in-touch{
    height: 250px;
    padding-top: 50px;
   }
   .mail_subscription input{
    width: 25%;
    padding: 10px 16px;
   }
   .mail_subscription button{
    font-size: 14px;
    padding: 14px 25px;
   }
   .backgroung_img-story{
    padding-top: 13%;
    height: 270px;
   }

   .contribution-link{
    font-size: 16px;
    padding: 12px 25px;
   }
   .join-charities p{
    font-size: 18px; 
   }
   .join-charities{
    margin-bottom: 20px;
   }
   .testimonial {
    display: block;
    text-align: center;
    margin-bottom: 50px;
   }
   .testimonial img{
    width: 60%;
    margin-left: 0px;
   }

   .footer-background{
    height: 125px;
    padding-top: 15px;
   }
}

@media only screen and (max-width : 776px) {
}
